<div class="container-fluid" id="chartspage">
  <span id="header">
    <div class="container-fluid" id="indexNavigation">
      <div class="col-auto mr-auto">
        <img src="/images/Career Center Banner.png" id="banner" alt="banner">
      </div>
      <div class="col-auto mr-auto" id="navCol">
        <h4 id="member-name" class="pull-right">Placeholder</h4>
      </div>
      <div class="col-auto" id="navCol">
        <button class="btn btn-danger pull-right" type="submit" id="logout">Logout</button>
      </div>
      <div class="col-auto" id="navCol">
        <strong></strong>
        </p>
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </span>
  <div id="buttonsDiv">
  
    <button type="button" class="btn" id="Education">ed</button>
    <div id="job1Name"></div>
    <button type="button" class="btn" id="Dentist">Dentist</button>
    <div id="job2Name"></div>
    <button type="button" class="btn" id="Engineering">Engineering</button>
    <div id="job3Name"></div>
  </div>
  <div class="testing">Test</div>
  <div class="container-fluid">
    <canvas id="canvas3"></canvas>
    <canvas id="canvas1"></canvas>
    <canvas id="canvas2"></canvas>
    <canvas id="canvas4"></canvas>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="/js/chart.js"></script>